<nav id="menu" class="" role="navigation">
	<header>
		<h2>Menu</h2>
	</header>
    <ul>
    	<li><a href="{{ path('homepage') }}">Home</a></li>
        <li><a href="{{ path('list_categories') }}">Categories</a></li>
    </ul>
</nav>